body {
    background-color: rgb(107, 236, 165);
    text-align: center;
  }
  
body h1 {
    color: #000000;
    font-size: 75px;
  }

body h2 {
    color:rgb(208, 243, 224);
    font-size: 35px;
    font-style: italic;
}